// $btn-color: #dddbdc;
// $btn-disabled-color: #eeeeee;
$btn-color: #C7D2EA;
$btn-disabled-color: #fd77a4;
$text-color: #00297D;

.page-btn {
    margin: auto 0.3rem;
    padding: 0.25rem 0.31rem;
    border-radius: 5px;
}
.active {
    background-color:  $btn-color;
    color: $text-color;
}

.disable {
    background-color:  transparent;
    color: $text-color;
}