<div class="row mb-4 mt-0">
    <div class="col-lg-12 col-md-12 col-xs-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <button class="btn btn-primary mb-2 me-2 flex-1" (click)="openModal('lg', 'create', content)">Add New</button>
              <h6 style="font-weight: 600;">Staff Application Records</h6>
              <!-- <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
                <span class="font-weight-bold ms-1">30 done</span> this month
              </p> -->
            </div>
           
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="container-fluid">
            <!-- Advanced table -->
            <app-advance-table
            [searchable]="true"
            [paginate]="true"
            [ApiSource]="'parcel'"
            [headers]="tablePropValue"
            [actions]="tableActions"
            [responsive]="true"
            [dataset]="dataset"
            ></app-advance-table>
          </div>
        </div>

      </div>
    </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header container">
    <h4 class="modal-title">Staff Application Modal</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-body">
    <!-- Modal body goes in here -->
    <!-- <app-admission-mutate></app-admission-mutate> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>